/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
/.framgia-ci-reports/*
.framgia-ci-result.temp.yml
/config/secrets.yml
/config/database.yml
/test/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/application.yml
public/javascripts/i18n.js
public/javascripts/translations.js
