<% provide :title, t(".home") %>
<span class="splash-globe animated bounceInRight"></span>
<div class="content center jumbotron">
  <h1 class="animated bounceInDown" >
    LEARN ENGLISH FREE
  </h1>
  <h2>
    <%= link_to "Start Now!", "#", class: "animated bounceInUp btn btn-lg btn-success center" %>
  </h2>
</div>
