<div class="header">
  <div class="container">
    <div class="logo pull-left">
      <%= link_to statics_pages_home_path do %>
        <%= image_tag "logo2.png", class: "img-reponsive" %>
      <% end %>
    </div>

    <span class="btn btn-lg sign-in-btn btn-white pull-right">
      Log in!
    </span>
  </div>
</div>
